<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page analyzer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-dark navbar-expand-md">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a href="#" class="navbar-brand">Анализатор страниц</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Сайты</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container bg-light-emphasis py-5">
        <h1 class="display-3 text-center">Анализатор страниц</h1>
        <h2 class="lead my-3 text-center">Бесплатно проверяйте сайты на SEO-пригодность</h2>
        <form class="row mx-auto" action="urls/" method="post">
            <div class="col-7 offset-md-2 px-0">
                <label for="input-site-url" class="visually-hidden">Url сайта для проверки</label>
                <input id="input-site-url" class="col-9 form-control" required type="text" placeholder="https://example.com">
            </div>
            <div class="col-3 px-2">
                <button class="col btn btn-primary" type="submit">Проверить</button>
            </div>
        </form>
    </div>
</body>
</html>