{% extends "layout/default.html" %}

{% block content %}
    <div class="container bg-light-emphasis py-5">
        <h1 class="h1 text-left">Сайт: {{ data.name }}</h1>
        <table class="table" data-test="url">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ data.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Имя</th>
                    <td>{{ data.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Дата создания</th>
                    <td>{{ data.created_at.strftime('%Y-%m-%d') }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h1 class="h1 text-left">Проверки: </h1>
        <form action="{{ url_for('urls_check', id_=data.id) }}" method="post">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
        <table class="table" data-test="checks">
            <thead>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </thead>
            <tbody>
                {% for check in checks %}
                <tr>
                    <td>{{ check.id }}</td>
                    <td>{{ check.status_code }}</td>
                    <td>{{ check.h1 }}</td>
                    <td>{{ check.title }}</td>
                    <td>{{ check.description }}</td>
                    <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}